on init
    # uSD slot support
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard1 0700 root root
    export SECONDARY_STORAGE /storage/sdcard1

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

# Magnetometer
service akmd8963 /system/bin/akmd8963
    class main
    user compass
    group compass misc input
